<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- 使用ContextLoaderListener 配置时，需要告诉它Spring配置文件的位置-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>

  <!-- SpringMVC的前端控制器 -->
  <!-- 当 DispatcherServlet 载入后，它将一个XML文件中载入 Spring 的应用上下文，该 XML 文件的名字取决于 <servlet-name> -->
  <!-- 这里 DispatcherServlet 将视图从一个叫做 Springmvc-servlet.xml 的文件中载入上下文，其默认位于 WEB-INF 目录下 -->
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:dispather-servlet.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <!-- 配置上下文载入器 -->
  <!-- 上下文载入器 载入除 DispatcherServlet 载入的配置文件之外的其他上下文配置文件 -->
  <!-- 最常用的上下文载入器时一个 Servlet 监听器，其名称为 ContextLoaderListener -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
</web-app>
